<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "AGWMobile", '#', id: "logo" %>
			<nav>
				<ul class="nav pull-right">
					<li><%= link_to "Link1", '#' %></li>
					<li><%= link_to "Link2", '#' %></li>
					<li><%= link_to "Link3", '#' %></li>
				</ul>
			</nav>
		</div>
	</div>
</header>