<footer class="footer">
	<small>
  		<a href="http://www.agwassenaar.com/">A.G. Wassenaar</a>
	</small>
	<nav>
		<ul>
			<li><%= link_to "Link1", '#' %></li>
			<li><%= link_to "Link2", '#' %></li>
			<li><%= link_to "Link3", '#' %></li>
		</ul>
	</nav>	
</footer>